body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

a,
ul {
  text-decoration: none;
  list-style: none;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* =========HEADER========= */

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.header {
  border-bottom: 1px solid #e7e9fc;
}
.header-wrap {
  display: flex;
  align-items: center;
  height: 72px;
}
.header-nav {
  display: flex;
  align-items: center;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  /* margin-left: 156px; */
  margin-right: 76px;
}

.accent {
  color: #2e2f42;
}

.navigation-list {
  display: flex;
  gap: 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin-left: 76px;
}

.navigation-list-item {
  color: #2e2f42;
  padding: 24px 0;
}

.navigation-list-link {
  color: #2e2f42;
  padding: 24px 0;
}
.navigation-list-link:hover {
  color: #404bbf;
}

.navigation-list-link:focus {
  color: #404bbf;
}
.adress-list {
  margin-left: 332px;
  display: flex;
  gap: 40px;
  width: 344px;
}
.header-address {
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.header-address-link {
  color: #434455;
}

.header-address-link:active {
  color: #404bbf;
}

.header-address-link:focus {
  color: #404bbf;
}
.navigation-list:focus,
.navigation-list:hover {
  color: #404bbf;
}

.header-address-link:hover {
  color: #404bbf;
}

/* ===============HERO============== */
.hero {
  background: #2e2f42;
  width: 1440px;
  height: 600px;
  padding-top: 188px;
  padding-bottom: 188px;
  margin: 0 auto;
}
.hero-header {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 496px;
  margin: 0 auto;
}

.hero-button {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background: #4d5ae5;
  cursor: pointer;
  margin: 0 auto;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  margin-top: 48px;
  border: none;
}
.hero-button:hover {
  cursor: pointer;
  background-color: #404bbf;
}

.hero-button:focus {
  background-color: #404bbf;
}
/* ==========CAPABILITIES========== */
.capabilities-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.capabilities-list {
  display: flex;
  align-items: center;
  gap: 24px;
}
.capabilities-list-item {
  width: calc((100% - 72px) / 4);
}
.capabilities-list-title {
  margin-bottom: 8px;
}
.capabilities-list-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* ==========TEAM ==========*/
.team {
  background: #f4f4fd;
}
.team-header {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  padding-top: 120px;
  padding-bottom: 120px;
}
.team-list {
  display: flex;
  align-items: center;
  gap: 24px;
  justify-content: center;
}
.team-item-header {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.team-list-item {
  background: #ffffff;
  width: calc((100% - 72px) / 4);
}

.team-item-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}
/* ==========PORTFOLIO========= */

.portfolio-header {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
  padding-top: 120px;
}
.portfolio-wrap {
  width: 1128px;
  height: 1000px;
}

.portfolio-list {
  min-width: 1128px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 48px 24px;
}
.portfolio-item-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.portfolio-item-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* ==========FOOTER========== */
.footer-wrap {
  display: flex;
  align-items: flex-start;
  background: rgb(46, 47, 66);
  width: 1440px;
  height: 312px;
  gap: 16px;
  flex-direction: column;
  padding-left: 156px;
  padding-top: 100px;
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  width: 264px;
}
.accent-footer {
  color: #f4f4fd;
}
